body{
    background-color: #c1e3ffbf;
}

.container{
    padding: 2rem;
    width: 100%;
}

.forms{
    max-width: 22em;
    width: 90%;
}

.card{
    max-width: 26em;
    width: 90%;
}

.video-container{
    position: relative;
    text-align: center;
    width: 100%;
}

#canvas{
    padding: 0 1rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    width: 25em;
    height: 18em;
    z-index: 2;
}

#video{
    padding: 0 1rem;
    position: absolute;
    width: 25em;
    height: 18em;
    z-index: 1;
}
