body{
    background-color: #c1e3ffbf;
}


.video-container{
    position: relative;
    text-align: center;
}

#canvas{
    padding: 0 1rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    width: 26rem;
    height: 18rem;
    z-index: 2;
}

#video{
    padding: 0 1rem;
    position: absolute;
    width: 26rem;
    height: 18rem;
    z-index: 1;
}
